<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <title></title>
  </head>
  <body>

    <div id="container">
      <header>
        <span id="page-number">33</span>
        <span id="title">Claire Woods</span>
        <div id="section-title">Section G: Pelvic Fins Thoracic With Exactly One Spine and Five Soft-rays (continued)</div>
      </header>
      <ol class="dichotomous-key" start="1">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">flammable</span>
              <span class="value">2</span>
            </li>
            <li>
              <span class="key">inflammable</span>
              <span class="value">3</span>
            </li>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="2">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">buoyant</span>
              <span class="value">[Bridge to No There There]</span>
            </li>
            <div class="description">
              <div class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec pellentesque massa, in tempus lectus. Integer consequat eros nec diam iaculis sodales. Mauris sollicitudin purus feugiat consequat imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
              <div class="description-image">
                <%= image_tag "ant.png" %>
              </div>
            </div>
            <li>
              <span class="key">ebullient</span>
              <span class="value">4</span>
            </li>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="3">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">geodesic</span>
              <span class="value">5</span>
            </li>
            <li>
              <span class="key">riemannian</span>
              <span class="value">[The Botinarium of Wrongitudinal Flora]</span>
            </li>
            <div class="description">
              <div class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec pellentesque massa, in tempus lectus. Integer consequat eros nec diam iaculis sodales. Mauris sollicitudin purus feugiat consequat imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
              <div class="description-image">
                <%= image_tag "leaf-bug.png" %>
              </div>
            </div>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="4">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">surreptitious</span>
              <span class="value">6</span>
            </li>
            <li>
              <span class="key">pernicious</span>
              <span class="value">7</span>
            </li>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="5">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">imago</span>
              <span class="value">[Ark of the Moon]</span>
            </li>
            <div class="description">
              <div class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec pellentesque massa, in tempus lectus. Integer consequat eros nec diam iaculis sodales. Mauris sollicitudin purus feugiat consequat imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
              <div class="description-image">
                <%= image_tag "moth.png" %>
              </div>
            </div>
            <li>
              <span class="key">instar</span>
              <span class="value">8</span>
            </li>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="6">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">digital</span>
              <span class="value">9</span>
            </li>
            <li>
              <span class="key">analog</span>
              <span class="value">[Queer Spin the Bottle]</span>
            </li>
            <div class="description">
              <div class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec pellentesque massa, in tempus lectus. Integer consequat eros nec diam iaculis sodales. Mauris sollicitudin purus feugiat consequat imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
              <div class="description-image">
                <%= image_tag "butterfly.png" %>
              </div>
            </div>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="7">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">red</span>
              <span class="value">10</span>
            </li>
            <li>
              <span class="key">green</span>
              <span class="value">11</span>
            </li>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="8">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">arboreal</span>
              <span class="value">[Benevolent International Order of Nomadic Nappers]</span>
            </li>
            <div class="description">
              <div class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec pellentesque massa, in tempus lectus. Integer consequat eros nec diam iaculis sodales. Mauris sollicitudin purus feugiat consequat imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
              <div class="description-image">
                <%= image_tag "caterpillar.png" %>
              </div>
            </div>
            <li>
              <span class="key">boreal</span>
              <span class="value">12</span>
            </li>
          </ul>
        </li>
      </ol>
      <ol class="dichotomous-key" start="9">
        <li>Placeholder Text
          <ul class="leaders">
            <li>
              <span class="key">heretical</span>
              <span class="value">13</span>
            </li>
            <li>
              <span class="key">veridical</span>
              <span class="value">[Lion Facts]</span>
            </li>
            <div class="description">
              <div class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec pellentesque massa, in tempus lectus. Integer consequat eros nec diam iaculis sodales. Mauris sollicitudin purus feugiat consequat imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
              <div class="description-image">
                <%= image_tag "water_bear.png" %>
              </div>
            </div>
          </ul>
        </li>
      </ol>
    </div>
  </body>
</html>